// Padding mixins
@mixin p($value) {
  padding: $value;
}

@mixin px($value) {
  padding-left: $value;
  padding-right: $value;
}

@mixin py($value) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin pt($value) {
  padding-top: $value;
}

@mixin pr($value) {
  padding-right: $value;
}

@mixin pb($value) {
  padding-bottom: $value;
}

@mixin pl($value) {
  padding-left: $value;
}

// Margin mixins
@mixin m($value) {
  margin: $value;
}

@mixin mx($value) {
  margin-left: $value;
  margin-right: $value;
}

@mixin my($value) {
  margin-top: $value;
  margin-bottom: $value;
}

@mixin mt($value) {
  margin-top: $value;
}

@mixin mr($value) {
  margin-right: $value;
}

@mixin mb($value) {
  margin-bottom: $value;
}

@mixin ml($value) {
  margin-left: $value;
} 